Please estimate the following project.

<project_description>
{{ description }}
</project_description>

{% if reference_projects %}
<reference_projects>
{% for project in reference_projects %}
- {{ project.name }} ({{ project.project_type }}): {{ project.short_description }}
  Comparable scope: {{ project.comparable_scope }}
{% if project.total_hours is not none %}  Total hours: {{ project.total_hours }}
{% endif %}{% if project.total_cost_eur is not none %}  Total cost EUR: {{ project.total_cost_eur }}
{% endif %}{% if project.lessons %}  Lessons/caveats: {{ project.lessons }}
{% endif %}
{% endfor %}
</reference_projects>
{% endif %}
